* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
  color: black;
  text-decoration: none;
  display: inline-block;
  box-sizing: border-box;
  height: 100%;
  list-style: none;
  font-family: 'Exo', sans-serif;
  user-select: none;
}
head, script {
  display: none;
}
html {
  height: auto;
  font-size: 16px;
  overflow-x: hidden;
  width: 100%;
  max-width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  width: 100%;
  background-color: #efefef;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  height: 100%;
}
nav {
  width: 100%;
  color: white;
  background-color: rgba(33,33,33,0.6);
  height: 4em;
  position: fixed;
  z-index: 10;
  top: 0;
}
nav > ul {
  width: 100%;
}
nav > ul > span > li {
  float: right;
}
@media only screen
and (max-width : 800px) {
  nav > ul > span > li {
    font-size: 0.5em;
    line-height: 7em;
  }
}
@media only screen
and (max-width : 900px) {
  .saver {
    top: 2em;
    left: -3em;
    position: relative;
  }
}

@media only screen
and (max-width : 1200px) {
  .marker {
    width: 6em !important;
  }
  .timeSig {
    width: 4em !important;
  }
}

.menu-item {
  background-color: rgba(11,11,11,0.8);
  border-radius: 2px;
  margin-right: 1em;
  padding: 0 1em;
  height: 80%;
  top: 10%;
  position: relative;
  cursor: pointer;
}
.menu-item:hover {
  background-color: rgba(130,11,44,0.8);
}
nav > ul > span {
  float: right;
}
nav li > a {
  color: white;
  position: relative;
  line-height: 2.2em;
  font-size: 1.4em;
  font-family: 'Permanent Marker', cursive;
}
.logo {
  position: relative;
  left: 1em;
  float: left;
}
.logo > a {
  font-family: 'Permanent Marker', cursive;
  font-size: 2.2em;
  line-height: 1.6em;
}
.hero {
  background-image: url("../public/images/hero.jpg");
  background-size: cover;
  height: 100%;
  width: 100%;
}
.hero2 {
  background-image: url("../public/images/hero1.jpg");
  background-size: cover;
  min-height: 50%;
  max-height: 800px;
  width: 100%;
}
.hello {
  width: 10em;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  font-size: 5em;
  font-family: 'Permanent Marker', cursive;
  height: 1em;
  display: block;
  top: 20%;
  color: #efefef;
  text-shadow: 3px -3px 10px #000;
  cursor: default;
}
.hero > a {
  width: 100%;
}
.hero > a > button {
  background-color: rgba(0,0,0,0.5);
  top: 35%;
  height: 1.4em;
  font-size: 4em;
  font-family: 'Permanent Marker', cursive;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  color: #efefef;
  border-radius: 2px;
  line-height: 0.6em;
  padding: 0.2em 1em;
  border: 1px solid #efefef;
  text-shadow: 3px -3px 10px rgba(249,63,25,0.7);
  box-shadow: 3px -3px 20px rgba(0,0,0,0.9);
  cursor: pointer;
}
.hero > button:hover {
  background-color: rgba(70,70,70,0.5);
}
.hero > button:active {
  background-color: rgba(150,150,150,0.5);
}
.app-info {
  width: 100%;
  min-height: 40%;
  max-height: 800px;
  display: block;
  padding: 10% 5%;
  border-bottom: 1px solid black;
}
.app-info h1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  height: 1em;
  text-align: center;
  font-size: 3em;
  margin-bottom: 1em;
}
.app-info-box {
  width: 33%;
  text-align: center;
  padding: 1em 1em;
  float: left;
  height: auto;
  top: 10%;
  position: relative;
}
.app-info-text {
  min-height: 10em;
  height: auto;
  padding-top: 2em;
  text-align: justify;
}
.screenshot {
  border-radius: 50%;
  background-image: url(https://placehold.it/160x160);
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  height: 160px;
  width: 160px;
}

.footer {
  height: 36%;
  width: 100%;
  background-color: #454545;
  padding: 5% 5%;
}
.footer-info {
  width: 100%;
  height: 100%;
}
.footer-info li {
  color: #bbbbbb;
  font-size: 1.5em;
  height: auto;
  line-height: 1.6em;
}
.footer-info .col-1 {
  width: 30%;
  height: 100%;
  float: left;
  padding: 5% 5%;
  clear: both;
}
.footer-info .col-2 {
  width: 70%;
  padding: 5% 5%;
  color: #bbbbbb;
  font-size: 1.5em;
  line-height: 1.6em;
  text-align: right;
}
.footer-info .col-2 img {
  height: 80px;
  position: relative;
  top: 50%;
}

// Keyboard Component

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
  nav {
    max-width: 1024px;
  }
}
#keyboard {
  width: auto !important;
}
#keyboard > ul {
  width: auto !important;
}

.team-info {
  width: 100%;
  padding-bottom: 5em;
}

section {
  display: block;
  position: initial;
  vertical-align: initial;
  box-sizing: initial;
  height: auto;
}
.cd-container {
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
}
#cd-timeline {
  position: relative;
  padding: 2em 0;
  margin-top: 2em;
  margin-bottom: 2em;
}
#cd-timeline::before {
  /* this is the vertical line */
  content: '';
  position: absolute;
  top: 0;
  left: 18px;
  height: 100%;
  width: 4px;
  background: #554444;
}
@media only screen and (min-width: 1170px) {
  #cd-timeline {
    margin-top: 3em;
    margin-bottom: 3em;
  }
  #cd-timeline::before {
    left: 50%;
    margin-left: -2px;
  }
}

.cd-timeline-block {
  position: relative;
  margin: 2em 0;
  width: 100%;
}
.cd-timeline-block:after {
  content: "";
  display: table;
  clear: both;
}
.cd-timeline-block:first-child {
  margin-top: 0;
}
.cd-timeline-block:last-child {
  margin-bottom: 0;
}
@media only screen and (min-width: 1170px) {
  .cd-timeline-block {
    margin: 4em 0;
  }
  .cd-timeline-block:first-child {
    margin-top: 0;
  }
  .cd-timeline-block:last-child {
    margin-bottom: 0;
  }
}

.cd-timeline-img {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: -60px;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
}
.cd-timeline-img img {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 50%;
}
.cd-timeline-img.cd-picture {
  background: #75ce66;
}
.cd-timeline-img.cd-movie {
  background: #c03b44;
}
.cd-timeline-img.cd-location {
  background: #f0ca45;
}
@media only screen and (min-width: 1170px) {
  .cd-timeline-img {
    width: 120px;
    height: 120px;
    left: 50%;
    margin-left: -60px;
    -webkit-backface-visibility: hidden;
  }
}
.cd-timeline-content {
  position: relative;
  margin-left: 60px;
  background: white;
  border-radius: 0.25em;
  padding: 1em;
  box-shadow: 0 3px 0 #554444;
}
.cd-timeline-content:after {
  content: "";
  display: table;
  clear: both;
}
.cd-timeline-content h2 {
  color: #554444;
}
.cd-timeline-content p, .cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
  font-size: 13px;
  font-size: 0.8125rem;
}
.cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
  display: inline-block;
}
.cd-timeline-content p {
  margin: 1em 0;
  line-height: 1.6;
}
.cd-timeline-content .cd-read-more {
  float: right;
  padding: .8em 1em;
  background: #acb7c0;
  color: white;
  border-radius: 0.25em;
}
.no-touch .cd-timeline-content .cd-read-more:hover {
  background-color: #bac4cb;
}
.cd-timeline-content .cd-date {
  float: left;
  padding: .8em 0;
  opacity: .7;
}
.cd-timeline-content::before {
  content: '';
  position: absolute;
  top: 16px;
  right: 100%;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-right: 7px solid white;
}
@media only screen and (min-width: 768px) {
  .cd-timeline-content h2 {
    font-size: 20px;
    font-size: 1.4rem;
  }
  .cd-timeline-content p {
    font-size: 1.2em;
  }
  .cd-timeline-content .cd-timeline-content .cd-date {
    font-size: 14px;
    font-size: 0.875rem;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-timeline-content {
    margin-left: 0;
    padding: 1.6em;
    width: 44%;
  }
  .cd-timeline-content::before {
    top: 24px;
    left: 100%;
    border-color: transparent;
    border-left-color: white;
  }
  .cd-timeline-content {
    float: left;
  }
  .cd-timeline-content .cd-date {
    position: absolute;
    width: 140%;
    left: 133%;
    top: 36px;
    font-size: 16px;
    font-size: 1rem;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content {
    float: right;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content::before {
    top: 24px;
    left: auto;
    right: 100%;
    border-color: transparent;
    border-right-color: white;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-read-more {
    float: right;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-date {
    left: auto;
    right: 133%;
    text-align: right;
  }
}

.transportContainer {
  display: inline-block;
  overflow: hidden;
  width: 100%;
  overflow: hidden;
  border: 2px solid #383838;
  border-radius: 2px;
  height: auto;
  position: relative;
  background-color: #efefef;
}

.transport {
  display: inline-block;
  border: 1px solid black;
}

.tempoDisplay {
  display: block;
  text-align: center;
}

.page-transition-enter {
  transition: opacity 1s ease-out;
  opacity: 0;
}
.page-transition-enter.page-transition-enter-active {
  opacity: 1;
}
.page-transition-leave {
  transition: opacity 1s ease-out;
  opacity: 1;
}
.page-transition-leave.page-transition-leave-active {
  opacity: 0;
}
.youAreHere {
  text-decoration: line-through;
}

input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 6.35px 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 3.3px;
  cursor: crosshair;
  box-shadow: 0px 0px 2.1px #000000, 0px 0px 0px #0d0d0d;
  background: #090908;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 1px solid #000000;
  height: 16px;
  width: 28px;
  border-radius: 2px;
  background: #ac41fc;
  cursor: crosshair;
  -webkit-appearance: none;
  margin-top: -6.55px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #171714;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 3.3px;
  cursor: pointer;
  box-shadow: 0px 0px 2.1px #000000, 0px 0px 0px #0d0d0d;
  background: #090908;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 1px solid #000000;
  height: 16px;
  width: 28px;
  border-radius: 2px;
  background: #ac41fc;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 3.3px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #000000;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 0px 0px 2.1px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #090908;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 0px 0px 2.1px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 1px solid #000000;
  height: 16px;
  width: 28px;
  border-radius: 2px;
  background: #ac41fc;
  cursor: pointer;
  height: 3.3px;
}
input[type=range]:focus::-ms-fill-lower {
  background: #090908;
}
input[type=range]:focus::-ms-fill-upper {
  background: #171714;
}

.samplerBoxList {
  z-index: 1;
  display: block;
  position: absolute;
  border: 1px solid black;
  height: auto;
  width: 100px;
}


.samplerBox {
  display: block;
  position: relative;
  border: 1px solid black;
  height: 100px;
  width: 100px;
}

@keyframes play-anim {
  0% {
    opacity: 1;
  }
  50% {
    -webkit-filter: hue-rotate(140deg) blur(1px);
  }
  100% {
    opacity: 1;
  }
}

.samplerVol {
  z-index: 2;
  width: 256px;
  height: 256px;
  position: relative;
  display: inline-block;
  height: auto;
  width: 100px;
  pointer-events: none;
  user-select: none;
  cursor: crosshair;
}
.knob-text {
  float: left;
  position: absolute;
  top: 24%;
  left: 28%;
  user-select: none;
  color: rgba(0,0,0,0.3);
  float: none;
  text-align: center;
  font-size: 1.4em;
  width:2em;
  height: auto;
}
.samplerSpan {
  height: 5em;
}


svg.dial {
  width: 60px;
  height: 60px;
}

.dial .knob circle {
  stroke: gray;
  stroke-width: 0.6px;
  fill: none;
}
.dial .knob line {
  stroke: black;
  stroke-width: 0.6px;
  stroke-linecap: round;
}
.dial .knob_number {
  fill: white;
  stroke: gray;
  stroke-width: 0.0625px;
  font-size: 6px;
  font-family: "Helvetica", "Arial", sans-serif;
  letter-spacing: -0.5px;
  text-anchor: middle;
  dominant-baseline: central;
  pointer-events: none;
  -webkit-touch-callout: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
select:hover {
  background-color: rgba(172,65,252,0.2);
}
select:active {
  text-shadow: 1px -1px 2px black;
}
.controls > i:hover {
  color: #ac41fc;
}
.controls > i:active {
  color: #ac41fc;
  text-shadow: 1px -1px 2px black;
}
.fa-cloud-upload {
  cursor: pointer;
}
.fa-cloud-upload:hover {
  color: #ac41fc;
}
.fa-cloud-upload:active {
  color: #ac41fc;
  text-shadow: 1px -1px 2px black;
}
